<nav class="nav-secondary">
  <div class="nav-item" *ngFor="let menu of menus; let i = index"
       [class.active]="activeMenuIndex === i"
       (mouseenter)="onNavItemHover(i)"
       (click)="setActive(i); onNavItemClick(i)">
    {{ menu.title }}
    <span class="new-tag" *ngIf="menu.isNew">new</span>

    <div class="mega-menu" *ngIf="openMegaMenuIndex === i" 
         (mouseenter)="clearMegaMenuCloseTimeout()"
         (mouseleave)="scheduleMegaMenuClose()"
         [class.align-right]="isRightAligned(i)">
      <div class="menu-grid">
        <div class="menu-col" *ngFor="let section of menu.sections">
          <h3>{{ section.title }}</h3>
          <ul>
            <li *ngFor="let link of section.links">
              <mat-icon>{{ link.icon }}</mat-icon>
              <span>{{ link.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>